html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgb(187, 187, 187),rgb(255, 253, 253));
    background-repeat: no-repeat;
}

header{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}

header a{
    text-decoration: none;
    margin-left: 20px;
    color: aliceblue;

}

header nav{
    margin-top: 30px;
    margin-right: 30px;
}

header nav a{
    padding: 10px 20px;
    border: 2px solid #E5E7E9;
    border-radius: 5px;
}

header nav a:hover{
    box-shadow:  0 0px 12px 0 white;
    background-color: white;
    border-color: black;
    color: black;
}
.signUp_user{
    margin: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*form*/


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-top: 150px;
    
}
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
    
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
    
    
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    background-color: none;
    
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #08efff;
    font-size: 12px;
}

.login-box .botton-box input{
    padding: 10px 20px;
    border: 2px solid #E5E7E9;
    border-radius: 5px;
    text-align: center;
    margin-left: 100px;
}

.login-box .botton-box input:hover{
    background:  rgb(234, 243, 253);
    color: #08efff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff,
                0 0 15px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #08efff;
    background-color: rgb(0, 0, 0);
    border-color: black;
    color: rgb(255, 255, 255);
}

footer{
    margin-top: 900px;
}